[submodule "gdb/pretty_printer/boost/Boost-Pretty-Printer"]
	path = gdb/pretty_printer/boost/Boost-Pretty-Printer
	url = https://github.com/ruediger/Boost-Pretty-Printer.git
[submodule "include"]
	path = include
	url = git@github.com:jjjj222/include.git
